/* Theme Light Mode Colors */
  .theme-light {
	--background-primary: #f7f6f5;
	--background-secondary: #f8f7f6;
  }

  /* Theme Dark Mode Colors */
  .theme-dark {
	--background-primary: #202122;
	--background-secondary: #171718;
  }

/* Global */
body {
	--font-text-theme: Manrope, sans-serif;
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--input-radius: 4px;
	--tab-radius-active: 4px;
	--checkbox-radius: 6px;
	--toggle-radius: 2px;
	--toggle-thumb-radius: 2px;
	--slider-thumb-radius: 4px;
	
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* Sidebar which shows files and notes with other root controls */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: var(--background-secondary);
    /* border-top: var(--tab-outline-width) solid var(--tab-outline-color); */
    display: var(--vault-profile-display);
    align-items: center;
    height: unset;
    flex: 0 0 auto;
    gap: var(--size-4-1);
    justify-content: space-between;
    padding: var(--size-4-4) var(--size-4-4);
    order: 0; 
}
